    <h3>ABOUT US</h3>
    	
         <h2 align="center"> Meet Our Team </h2>
			
		<center><table  width="500" border="0" >
    		
			<!-- photo -->
			<tr align="center">
				<td > <img src="/assets/Michael_Picture.png" alt="Michael Picture" height="200" width="150"> </td>
				<td> <img src="/assets/lisaschaefer.jpg" alt="Lisa" height="200" width="150"> </td>
			</tr>
            
           <!-- Team member name -->
			<tr align="center">
            	<td>Michael Watkinson</td>
            	<td>Lisa Schaefer</td>
         	</tr>
            
           <!-- Role -->
    		<tr align="center">
    			<td>Founder & Lead Developer</td>
				<td>Chief Futurist</td>
				<td></td>
			</tr>
            
		</table></center>