<h3>CONTACT US</h3>
    <center>
    <!--
      <form action="MAILTO:krackakhan@gmail.com" method="get" enctype="text/plain">
    	<table>
    	<tr>
        	<td>Email:</td>  
     	    <td> <input type="text" name="email" value="your email"> </td>
     
          	<input name="subject" type="text" id="subject" size="30" 
             	    data-validation="length 			alphanumeric" data-validation-length="1-30" />
            	<select name="subject">
                      <option value="subject1">Subject 1 - This could be any subject</option>
                      <option value="subject2">Subject 2 - This could be any subject</option>
                      <option value="subject3">Subject 3 - This could be any subject</option>
                      <option value="subject4">Subject 4 - This could be any subject</option>
                      <option value="subject5">Subject 5 - This could be any subject</option>
             	</select>
             	
     	</tr>
     	<tr>
     	  <td>Subject:</td>  
     	  <td> <input type="text" name="subject" value="enter subject"> </td>
     	</tr>
       <tr>
         <td>Message:</td>
         <td> <input type="text" name="message" value="type message here..."> </td>
       </tr>
       <tr>
         <td> <input type="submit" value="Send"> </td>
       </tr>
       <tr>
         <td>sentencezing499@gmail.com </td>
       </tr> 
    </table>
  </form>
  -->
    
  <table>
    <tr>
	  <td> <a href="https://www.facebook.com/sentencezing"> <img src="/assets/facebook_logo.gif" alt="Facebook Link" height="150" width="150"> </a> </td>
	  <td> <a href="https://twitter.com/sentencezing"> <img src="/assets/twitter logo.jpg" alt="Twitter Link" height="150" width="150"> </a> </td>
	  <td> <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=2KR4VDTNQH2Z2&lc=US&item_name=SentenceZing%20Support%20Donation&item_number=SentenceZing&currency_code=USD&bn=PP%2dDonationsBF%3abtn_donateCC_LG%2egif%3aNonHosted"> <img src="/assets/paypal_logo.jpg" alt="Donation Link" height="150" width="150"> </a> </td>
	</tr>
  </table>
    
</center>