<center>
	<h3>Order Special Holiday Bundle Only $30 </h3>
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
			<input type="hidden" name="cmd" value="_s-xclick">
			<table>
			<tr><td><input type="hidden" name="on0" value="T-Shirt Sizes">T-Shirt Sizes</td></tr><tr><td><select name="os0">
			<option value="Medium">Medium </option>
			<option value="Large">Large </option>
			<option value="Extra Large">Extra Large </option>
			</select> </td></tr>
			</table>
			<input type="hidden" name="encrypted" value="-----BEGIN PKCS7-----MIIHbwYJKoZIhvcNAQcEoIIHYDCCB1wCAQExggEwMIIBLAIBADCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJKoZIhvcNAQEBBQAEgYBn+RFSO/ftpEsBHSnd8rENGHAMllLppnCi2ERmVKEfZxTpRYrLHe0Yq+n4MBhcyFXqXBZBs5UmK0uAivyXfLpgtW9amkyYoBN6P2XOt+EtHn7s2MVAQ6cFNnH4I5sWPNyeJ7RM8Iqi0N+nsvm48ELA3N0UnJSr1B2NmyIhy46CTDELMAkGBSsOAwIaBQAwgewGCSqGSIb3DQEHATAUBggqhkiG9w0DBwQIDOCPSaVb3LSAgchWhy+4wo4EEpbBk3V+ZdvfT2qeVxoKmY5qbuxSIiulxLOFeCkkmbn3+ZVr3vhTFJ5fDivbbqXFBxIYqinL5UMUqK+NO0FwgNp/tTnEGXG5sJ9dD4d0bTXpZIJZgxgjOoJflzdMQdPrU1ZBmeA3PO6YteG7kWw0xsSUFWKT7DZ2MF0e3Qva0rOPHHQQv9OnoYCLXpQpxpfVgIwR+f/H8C3CT5tdxxeopnM728TsxeV85QtMwQWTzihEWwmOw5OCh6gvXrGTR6OJD6CCA4cwggODMIIC7KADAgECAgEAMA0GCSqGSIb3DQEBBQUAMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbTAeFw0wNDAyMTMxMDEzMTVaFw0zNTAyMTMxMDEzMTVaMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbTCBnzANBgkqhkiG9w0BAQEFAAOBjQAwgYkCgYEAwUdO3fxEzEtcnI7ZKZL412XvZPugoni7i7D7prCe0AtaHTc97CYgm7NsAtJyxNLixmhLV8pyIEaiHXWAh8fPKW+R017+EmXrr9EaquPmsVvTywAAE1PMNOKqo2kl4Gxiz9zZqIajOm1fZGWcGS0f5JQ2kBqNbvbg2/Za+GJ/qwUCAwEAAaOB7jCB6zAdBgNVHQ4EFgQUlp98u8ZvF71ZP1LXChvsENZklGswgbsGA1UdIwSBszCBsIAUlp98u8ZvF71ZP1LXChvsENZklGuhgZSkgZEwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tggEAMAwGA1UdEwQFMAMBAf8wDQYJKoZIhvcNAQEFBQADgYEAgV86VpqAWuXvX6Oro4qJ1tYVIT5DgWpE692Ag422H7yRIr/9j/iKG4Thia/Oflx4TdL+IFJBAyPK9v6zZNZtBgPBynXb048hsP16l2vi0k5Q2JKiPDsEfBhGI+HnxLXEaUWAcVfCsQFvd2A1sxRr67ip5y2wwBelUecP3AjJ+YcxggGaMIIBlgIBATCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwCQYFKw4DAhoFAKBdMBgGCSqGSIb3DQEJAzELBgkqhkiG9w0BBwEwHAYJKoZIhvcNAQkFMQ8XDTE0MTIxMDAzMjYwMVowIwYJKoZIhvcNAQkEMRYEFFkXtaxaK1FBlCnsHJsWFBhJ/exeMA0GCSqGSIb3DQEBAQUABIGAN1Y1DhvNQqQp2pyxKvNW345bgAKHS6mdv7Xggnr4tSsLgCX/EwHx19R2avjKlsNmQ+ZSBds/pZiHfDEpaOUL0M9PaoVQow2nnkx93oqynI3fx1snaTRLpdQwfk45DEBH6gOpYIZK22g5CPgH6Ijd9xOkpAqlwEO/CXKzFrDJRMQ=-----END PKCS7-----
			">
			<input type="image" src="http://wheatfreemom.com/blog/wp-content/uploads/2013/01/paypal-buy-now-button.png" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
			<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
	</form>
	
	<br/>
	
	<h3>Special Holiday Bundle Includes:</h3>
	<table>
		<tr>
			<td>
				<ol>
					<li>SentenceZing Premium Membership</li> <br/>
					<li>One Additional Premium Membership For a Friend</li> <br/>
					<li>SentenceZing T-Shirt</li> <br/>
					<li>SentenceZing Stickers</li> <br/>
					<li>Access to Upcoming Exclusive features</li> <br/>
				</ol>
			</td>
		</tr>
	</table>
    
    <!--
    <td> <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=2KR4VDTNQH2Z2&lc=US&item_name=SentenceZing%20Support%20Donation&item_number=SentenceZing&currency_code=USD&bn=PP%2dDonationsBF%3abtn_donateCC_LG%2egif%3aNonHosted"> <img src="/assets/paypal_logo.jpg" alt="Donation Link" height="300" width="300"> </a> </td>
    -->
</center>