<h1>How To Use SentenceZing</h1>
<br/>

<h1> Step 1 </h1>
<p>First either start a new story or join an existing open story. 
<br/> 
This is possible through the header links "New Story" and "Stories" or on the homepage by the links "Start a Story" and "Join or Read a Story"
<br/>
<img src="/assets/howto_step1one.png" alt="Step 1 one">
or
<img src="/assets/howto_step1two.png" alt="Step 1 two">
</p> <br/>
  
<h1> Step 2 </h1>
<p>If creating a new story, enter a title and category and click the Create Story button.
<br/>
If joining an existing story, then in the fourth column you will see one of three things:
<br/>
An empty field = Story is full, Join story = Story is open and you can join, Edit Story = You are part of the story already
<br/>
<img src="/assets/howto_step2one.png" alt="Step 2 one" height="150" width="150">
or
<img src="/assets/howto_step2two.png" alt="Step 2 two" height="150" width="150">
</p> <br/>
  
<h1> Step 3 </h1>
<p>If creating a new story, add the first sentence to start the story and wait for someone to join and add to it!
<br/>
If joining a story, add to the story and build off of the first sentence!
<br/>
<img src="/assets/howto_step3one.png" alt="Step 2 one">
</p> <br/>

<h1> Step 4 </h1>
<p>Repeat taking your turn adding onto the story with your 255 character sentences until the end of the story. 
<br/>
And have fun!
</p> <br/>
  
<h2> Your only limit is your own creativity! </h2>