<center>
  <h1>SentenceZing Terms of Service</h1>
  <p>
    The following terms shall govern your use of the Sentencezing site and interactions with users on it.  You agree that use of the website signifies that you have read, understood and agree to be bound by the following terms listed below.  These terms are liable to change at any time, but users will be notified via email or through the updated Terms of Use page on the website.  Your continued use of the Websites or services after such changes have been posted means that you agree to the new Terms, even if you have not reviewed the changes.  Therefore, you should check the regular SentenceZing newsletter emails or the Terms of Use page periodically for updates and changes.
  </p>

  <h2>User Conduct</h2>
  <p>
    Use of the site signifies your agreement in refraining from excessive foul language, offensive or derogatory remarks, or any sexually explicit content.  These are reportable offenses and may result in content deletion, probation, or banning.  User uploaded pictures on their accounts may not be offensive, contain anything illegal, or exhibit any nudity or they will be removed and your account will be banned.  SentenceZing will not tolerate any cyber bullying or stories using real names without consent or as a defamation of character.  
  </p>

  <h2>Disclaimer</h2>
  <p>
    Use of the website and any services are at your own risk. All stories are user generated and SentenceZing LLC is not liable for any offensive content produced. SentenceZing will make reasonable efforts to moderate user created content to remove any inappropriate content and ban users who donӴ abide by the terms of use.  
  </p>
  
  <h2>Intellectual Property</h2>
  <p>
    All code, web design, logos, and products found on the site are the intellectual property of SentenceZing LLC and may not be copied, used, or retransmitted unless by direct written permission.  Use of the site gives SentenceZing LLC commercial rights to use user created stories in site promotions, story showcases, ebooks to be illustrated and sold on the site, or merchandise.  SentenceZing does not however claim authorship of user created content and it may be used by its authors freely as they see fit outside of the site.
  </p>
</center>