<h1> Conversations </h1>

<h2> Inbox </h2>
<ul> <%= render collection: mailbox.inbox, partial: 'conversation' %><br/> </ul>
<br/>

<h2> Sentbox </h2>
<ul> <%= render collection: mailbox.sentbox, partial: 'conversation' %><br/> </ul>
<br/>

<h2> Trash </h2>
<ul> <%= render collection: mailbox.trash, partial: 'conversation' %><br/> </ul>
<br/>

<%= link_to 'Start Conversation', :new_conversation %>
<br/><br/>





