IT499 Final Proposal Requirements

 #   |                            Main Goals                                     Status
     |
 1.  |	Adding to the database                                             |    Complete
 2.  |	Creating a model                                                   |    Complete
 3.  |	Changing controllers to accept new functions and parameters        |    Complete
 4.  |	Creating a new page to serve as a voting area                      |    Complete
 5.  |	Adding a like button to each story’s show page                     |    Complete
 6.  |	Adding validation for story names and usernames to be unique       |    Complete
 7.  |	Display number of likes the story has                              |    Complete
 8.  |	Get _like_form partial to work                                     |    Complete
 9.  |	Get liking functionality fully working                             |    Complete


 #                                Stretch Goals                                  Status
 
 1.  |	Display stories on voting page using shadowbox                     |    Complete 
 2.  |	Order Stories on voting page by number of likes                    |
 3.  |  Order stories on stories index page by created_at (DESC order)     |    Complete
 4.  |	Use JS to switch between like and unlike for a story               | 
 5.  |	Add like validation for combo of user_id and story_id              |    Complete

