<div align="left">
	<span class="content"><%= micropost.content %></span>
  	<span class="timestamp">
 
<%
=begin %>
    Posted <%= time_ago_in_words(micropost.created_at) %> ago.
<%
=end %>

  	</span>
</div>