// Place all the styles related to the activities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.activity {
  border-bottom: 1px solid #ccc;
  padding: 16px;
  em {
    color: #777;
    font-size: 12px;
    padding-left: 5px;
  }
}