// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* forms */

//<style type="text/css">
//<!--
.userinfo
        {
        font-family:"Tahoma", sans-serif; font-size:20.0px; line-height:2.5em; text-align:left; color:#000000;
        }
.userinfo2
        {
        font-family:"Tahoma", sans-serif; font-size:16.0px; line-height:1.4em; text-align:left; color:#000000;
        }
.leftj
        {
        font-family:"Tahoma", sans-serif; font-size:14.0px; line-height:1.2em; vertical-align: middle; text-align:left; color:#000000;
        }

//-->

/* input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}
*/